* {
    font-family: Arial;
}

/*main styling*/
body {
    background-color: #30598A;
    color: #ffffff;
    
}
h1{
    text-align: center;
}

.center-align {
    margin: 0 auto;
    text-align: center;
}

.right-align {
    text-align: right;
}

#firstChoice:hover{
    background:rgb(14, 13, 13);
    border: 1px solid rgb(172, 103, 143);
    font-size:15px; 
}
#firstChoice{
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #0b121b;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 12px;
    font-family: 'Motlleg Fantasy', sans-serif;
    line-height: 20px;
    padding: 8px 15px;
    border-radius: 30px;
    box-shadow: rgba(14, 14, 15, 0.08) 0px 8px 8px 0;
    cursor: pointer;
}
h5{
    text-align: center;
}
h3{
    text-indent: 5em;
    margin-left: 3em;
    margin-right: 3em;
    word-spacing: 10px;
}